body {
	color: white;
	background-color: black;
}

#topic {
	text-align: centered;
}

#next_barrel {
	position: fixed;
	top: 51.5%;
	left: 35%;
	width: 5%;
	height: 5%;
	background-color: red;
}

.barrel-result {
	position: fixed;
	width: 5%;
	height: 5%;
	top: 50%;
	left: 45.5%;
	display: inline-block;
}

#barrel-result-image {
	width: 100%;
	height: auto;

}

.overlay-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 5px;
}

.ticket-Canvas {

	width: 100%;
	height: auto;

}

.player-tickets {
	position: fixed;
	width: 15%;
	height: auto;
}

#player-tickets-0 {
	left: 35%;
}

#player-tickets-1 {
	left: 35%;
	bottom: 0%;
}
