body {
    background-color: black;
    color: white;
}
#ticTacToeImageBackground {
    width: 100%; /* Adjusts the image to the full width of its container */
    height: 100%; /* Maintains the aspect ratio */
    /* text-align: center; /* Centers the image within the div */
    /* display: inline-block; /* Allows centering */
}

#ticTacToeScore {
    text-align: right;
}

.ticTacToeTopic {
    text-align: center
}

footer {
    text-align: right;
}

/* pasted code from AI */
  .container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .image01 {
    display: block;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none; /* Hidden by default */
  }

.canvas-container {
    width: 100%; /* Or some other defined width */
    height: 100%; /* Example: full viewport height */
}

#boardCanvas {
    width: 100%;
    height: 100%;
/*    border: 1px solid black;  Optional: for visibility */
}

canvasIdxDetection {
	width: 100%;
	height: 100%;
}

#gameResult {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
/*	background:rgba(0,0,0,0.5); */
	backdrop-filter: blur(5px);
}

#gameResultInside {
	color: black;
	background: white;
	margin: 15% auto;
	width: 35%;
	height: 15%;
}

#gameResultClose {

}
